<%= error_messages_for 'time_entry' %>
<%= back_url_hidden_field_tag %>
<script type="text/javascript"> 
	no_user = '<%=l(:label_wk_no_user_current_project) %>';
	userUrl="<%= "#{url_for(:controller => controller_name, :action => 'getusers')}" %>";
</script>
<table>

	<tr>		
			<td class="project" align="left" hidden ="hidden";><%=h select_tag('project_id',
				options_for_select(options_for_wktime_project(@manage_log_time_projects),
				:selected => @selected_project.id), :key => "value", :onchange => "projChanged(this, #{User.current.id}, false);", :onkeypress => 13, :tabindex => 1) %></td>
	</tr>

<!-- <% if !@manage_log_time_projects.blank? %>-->
	
	<tr>
	<th><%=l(:label_member)%></th>
	<td>
		
				<%=h User.current.login %>
				<%=h hidden_field_tag('user_id', User.current.id) %>
	</td>
	</tr>
	
	<% else %>
		<tr>
		<th width="100px" ><%=l(:field_user)%></th>
		<td>
	<%=h User.current.name %>
	<%=h hidden_field_tag('user_id', User.current.id) %>
	</td>
	</tr>
<% end %>
<tr>
<th width="100px" ><%=l(:field_start_date)%></th>
<td><%=h text_field_tag('startday',@startday,:size => 10, :required => true, :autofocus=>true) %><%= calendar_for('startday') %> 
</td>
</tr>
<!-- set hidden, since it will allways be set "true""-->
<tr class = hidden>
<th width="100px"><%= l(:chkbox_prev_tmpl) %></th> 
<td><%= check_box_tag('prev_template', 1, true)%></td>
</tr>
<tr class = hidden>
    <th width="100px"><%= l(:chkbox_issue_assign_user) %></th>
    <td><%= check_box_tag('issue_assign_user', 1, true)%></td>
</tr>
</table>

<%@currentUser_loggable_projects%>
<h3>
	<% if !@manage_log_time_projects.blank? %>
		 <%= submit_tag l(:button_continue), :id => 'wktime_add' , :onclick => "return validateMember();"%>
	<% else %>
		 <%= submit_tag l(:button_continue), :id => 'wktime_add'%>
		
	<% end %>
	
	<!-- Link to the /time_entries -->
	<% extendedPath = '?utf8=✓&f[]=user_id&op[user_id]=%3D&v[user_id][]=me&f[]=spent_on&op[spent_on]=><t-&v[spent_on][]=14&f[]=project_id&op[project_id]=%3D&v[project_id][]=mine&f[]=&c[]=spent_on&c[]=user&c[]=project&c[]=issue&c[]=hours&c[]=comments&c[]=cf_19' %>
	<%= link_to(l(:label_wk_evaluation), time_entries_path + extendedPath, {:style=>'color:#595959'})  if User.current.allowed_to?(:view_time_entries, nil, :global => true) %>
</h3>


